啊哈哈/TCLEbankIntegration/src/main/webapp/wsdl/ActiveRepayService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:intf="http://service.ccic.com/app/ActiveRepay/intf"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bean="http://service.ccic.com/app/ActiveRepay/bean"
	targetNamespace="http://service.ccic.com/app/ActiveRepay/intf"
	name="ActiveRepayService" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://service.ccic.com/common/bean" targetNamespace="http://service.ccic.com/common/bean"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:complexType name="RequestHeadDTO">
				<xs:annotation>
					<xs:documentation>
						<name>请求消息头</name>
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="seqNo" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>流水号</name>
								<description>ESB生成的服务标识号，仅在ESB调用服务提供方时有效，通常为32+4位GUID(xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)
								</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="consumerSeqNo" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>消费方流水号</name>
								<description>服务消费方用于唯一标识一次服务交互，建议使用GUID</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="consumerID" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<name>服务消费方ID</name>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="providerID" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>服务提供方ID</name>
								<description>仅当消费方在路由服务中显式指定提供方时使用，ESB不会传给服务提供方
								</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="classCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>险类</name>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="riskCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>险种</name>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="regionCode" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>地区</name>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="version" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>服务版本</name>
								<description>用于同一服务有多个版本时消费方标识用，缺省为空，ESB不会传给服务提供方
								</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResponseHeadDTO">
				<xs:annotation>
					<xs:documentation>
						<name>响应消息头</name>
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="seqNo" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>流水号</name>
								<description>
									ESB生成的服务标识号，服务提供方不需要返回，ESB在返回给服务消费方时根据请求消息自动填充，通常为32+4位GUID(xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)
								</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="consumerSeqNo" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>消费方流水号</name>
								<description>服务消费方用于唯一标识一次服务交互，ESB在返回给服务消费方时根据请求消息自动填充
								</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="providerSeqNo" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>提供方流水号</name>
								<description>服务提供方用于唯一标识一次服务交互，建议使用GUID</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								<name>响应状态</name>
								<description>0 - 成功, 1 - ESB失败, 2 - 应用失败</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="esbCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>ESB响应代码</name>
								<description>返回ESB失败的描述性代码</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="esbMessage" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>ESB响应信息</name>
								<description>返回ESB失败的描述性信息</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="appCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>应用响应代码</name>
								<description>返回应用响应的描述性代码</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="appMessage" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<name>应用响应信息</name>
								<description>返回应用响应的描述性信息</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://service.ccic.com/app/ActiveRepay/bean"
			xmlns:common="http://service.ccic.com/common/bean" targetNamespace="http://service.ccic.com/app/ActiveRepay/bean"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://service.ccic.com/common/bean" />
			
			
			<xs:complexType name="ActiveRepayRequestDTO">
				<xs:annotation>
					<xs:documentation>
						<name>请求消息体</name>
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="customerId" type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="applyNo" type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="billNo" type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="repayAmt" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="capital" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="interest" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="overdueAmt" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="rfine" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="mfee" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="dfee" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="afee" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="poundage" type="xs:double" />
					<xs:element maxOccurs="1" minOccurs="0" name="repayType" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="requestBody" type="ActiveRepayRequestDTO" />
			<xs:element name="requestHead" type="common:RequestHeadDTO" />
			<xs:element name="responseHead" type="common:ResponseHeadDTO" />

			<xs:element name="ActiveRepayRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="requestHead" />
						<xs:element ref="requestBody" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ActiveRepayResponse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="responseHead" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>	
			
		</xs:schema>
    </wsdl:types>
	<wsdl:service name="ActiveRepayService">
		<wsdl:documentation>服务模板</wsdl:documentation>
		<wsdl:port name="ActiveRepayServiceEndpoint" binding="intf:ActiveRepayServiceSoapBinding">
			<soap:address location="http://localhost:9090/ActiveRepayService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:portType name="ActiveRepayService">
		<wsdl:operation name="ActiveRepayService">
			<wsdl:input name="ActiveRepayInput" message="intf:ActiveRepayRequest" />
			<wsdl:output name="ActiveRepayOutput" message="intf:ActiveRepayResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ActiveRepayServiceSoapBinding"
		type="intf:ActiveRepayService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ActiveRepayService">
			<soap:operation style="document" soapAction="/app/ActiveRepay" />
			<wsdl:input>
				<soap:body use="literal" parts="ActiveRepayRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="ActiveRepayResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:message name="ActiveRepayRequest">
		<wsdl:part name="ActiveRepayRequest" element="bean:ActiveRepayRequest" />
	</wsdl:message>
	<wsdl:message name="ActiveRepayResponse">
		<wsdl:part name="ActiveRepayResponse" element="bean:ActiveRepayResponse" />
	</wsdl:message>
</wsdl:definitions>