啊哈哈/TCLEbankIntegration/src/main/webapp/wsdl/TclTransService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:intf="http://ebank.tcl.com/app/TclTrans/intf"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bean="http://ebank.tcl.com/app/TclTrans/bean"
	targetNamespace="http://ebank.tcl.com/app/TclTrans/intf"
	name="TclTransService" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://ebank.tcl.com/app/TclTrans/bean"
			xmlns:common="http://ebank.tcl.com/common/bean" targetNamespace="http://ebank.tcl.com/app/TclTrans/bean"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://ebank.tcl.com/common/bean" />
			
			<xs:element name="HEADER">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="REQ_TIME" type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="REP_TIME" type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="REP_CODE" type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="REP_DESC" type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="REQ_INDEX" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="REQUEST">
				 <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="CMSTRANNO" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
			</xs:element>
			<xs:element name="RESPONSE">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="TRANSTAT" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>	
			
		</xs:schema>
    </wsdl:types>
	<wsdl:service name="TclTransService">
		<wsdl:documentation>服务模板</wsdl:documentation>
		<wsdl:port name="TclTransServiceEndpoint" binding="intf:TclTransServiceSoapBinding">
			<soap:address location="http://localhost:9090/TCLEbankIntegration/services/TclTransService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:portType name="TclTransService">
		<wsdl:operation name="TclTransService">
			<wsdl:input name="TclTransInput" message="intf:REQUEST" />
			<wsdl:output name="TclTransOutput" message="intf:RESPONSE" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TclTransServiceSoapBinding"
		type="intf:TclTransService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TclTransService">
			<soap:operation style="document" soapAction="/app/TclTrans" />
			<wsdl:input>
				<soap:body use="literal" parts="REQUEST" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="RESPONSE" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:message name="REQUEST">
		<wsdl:part name="REQUEST" element="bean:REQUEST" />
	</wsdl:message>
	<wsdl:message name="RESPONSE">
		<wsdl:part name="RESPONSE" element="bean:RESPONSE" />
	</wsdl:message>
</wsdl:definitions>