啊哈哈/TCLEbankIntegration/src/main/webapp/wsdl/f/tclEbankService2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webService.ebank.jr.tcl.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webService.ebank.jr.tcl.com" xmlns:intf="http://webService.ebank.jr.tcl.com" xmlns:tns1="http://bean.webService.ebank.jr.tcl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webService.ebank.jr.tcl.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.webService.ebank.jr.tcl.com"/>
   <element name="REQPAYMENT">
    <complexType>
     <sequence>
      <element name="REQUEST" type="tns1:PIRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="REQPAYMENTResponse">
    <complexType>
     <sequence>
      <element name="REQPAYMENTReturn" type="tns1:PIResponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="PUSHDATATOWEBSYS">
    <complexType>
     <sequence>
      <element name="REQUEST" type="tns1:PIRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="PUSHDATATOWEBSYSResponse">
    <complexType>
     <sequence>
      <element name="PUSHDATATOWEBSYSReturn" type="tns1:PIResponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="REQPAYMENTSTATUSQUERY">
    <complexType>
     <sequence>
      <element name="REQUEST" type="tns1:PIRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="REQPAYMENTSTATUSQUERYResponse">
    <complexType>
     <sequence>
      <element name="REQPAYMENTSTATUSQUERYReturn" type="tns1:PIResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.webService.ebank.jr.tcl.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="PIRequest">
    <sequence>
     <element name="AGTBKACCTNO" nillable="true" type="xsd:string"/>
     <element name="AGTBKADDR" nillable="true" type="xsd:string"/>
     <element name="AGTBKNAME" nillable="true" type="xsd:string"/>
     <element name="AGTBKSWCD" nillable="true" type="xsd:string"/>
     <element name="AGTSTATE" nillable="true" type="xsd:string"/>
     <element name="AGTSTATECODE" nillable="true" type="xsd:string"/>
     <element name="CHARGEBEARS" nillable="true" type="xsd:string"/>
     <element name="DIGEST" nillable="true" type="xsd:string"/>
     <element name="PARTNERBKBRNO" nillable="true" type="xsd:string"/>
     <element name="PAYACCTNO" nillable="true" type="xsd:string"/>
     <element name="PAYMODE" nillable="true" type="xsd:string"/>
     <element name="RECACCTINFO" nillable="true" type="xsd:string"/>
     <element name="RECACCTNAME" nillable="true" type="xsd:string"/>
     <element name="RECACCTNO" nillable="true" type="xsd:string"/>
     <element name="RECADDR" nillable="true" type="xsd:string"/>
     <element name="RECBANKADDR" nillable="true" type="xsd:string"/>
     <element name="RECBANKID" nillable="true" type="xsd:string"/>
     <element name="RECBANKNAME" nillable="true" type="xsd:string"/>
     <element name="RECBANKSWCD" nillable="true" type="xsd:string"/>
     <element name="RECBKSTATE" nillable="true" type="xsd:string"/>
     <element name="RECBKSTCWRDS" nillable="true" type="xsd:string"/>
     <element name="TOBANKINFO" nillable="true" type="xsd:string"/>
     <element name="TRANAMT" nillable="true" type="xsd:string"/>
     <element name="TRANTYPE" nillable="true" type="xsd:string"/>
     <element name="VOUCHER_ID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PIResponse">
    <sequence>
     <element name="CMSTRANNO" nillable="true" type="xsd:string"/>
     <element name="MESSAGE" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="PUSHDATATOWEBSYSResponse">

      <wsdl:part element="impl:PUSHDATATOWEBSYSResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="REQPAYMENTResponse">

      <wsdl:part element="impl:REQPAYMENTResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="REQPAYMENTSTATUSQUERYRequest">

      <wsdl:part element="impl:REQPAYMENTSTATUSQUERY" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="REQPAYMENTSTATUSQUERYResponse">

      <wsdl:part element="impl:REQPAYMENTSTATUSQUERYResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="PUSHDATATOWEBSYSRequest">

      <wsdl:part element="impl:PUSHDATATOWEBSYS" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="REQPAYMENTRequest">

      <wsdl:part element="impl:REQPAYMENT" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="tclEbankService">

      <wsdl:operation name="REQPAYMENT">

         <wsdl:input message="impl:REQPAYMENTRequest" name="REQPAYMENTRequest">

       </wsdl:input>

         <wsdl:output message="impl:REQPAYMENTResponse" name="REQPAYMENTResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="PUSHDATATOWEBSYS">

         <wsdl:input message="impl:PUSHDATATOWEBSYSRequest" name="PUSHDATATOWEBSYSRequest">

       </wsdl:input>

         <wsdl:output message="impl:PUSHDATATOWEBSYSResponse" name="PUSHDATATOWEBSYSResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="REQPAYMENTSTATUSQUERY">

         <wsdl:input message="impl:REQPAYMENTSTATUSQUERYRequest" name="REQPAYMENTSTATUSQUERYRequest">

       </wsdl:input>

         <wsdl:output message="impl:REQPAYMENTSTATUSQUERYResponse" name="REQPAYMENTSTATUSQUERYResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="tclEbankServiceSoapBinding" type="impl:tclEbankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="REQPAYMENT">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="REQPAYMENTRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="REQPAYMENTResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="PUSHDATATOWEBSYS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PUSHDATATOWEBSYSRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="PUSHDATATOWEBSYSResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="REQPAYMENTSTATUSQUERY">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="REQPAYMENTSTATUSQUERYRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="REQPAYMENTSTATUSQUERYResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="tclEbankServiceService">

      <wsdl:port binding="impl:tclEbankServiceSoapBinding" name="tclEbankService">

         <wsdlsoap:address location="http://localhost:9090/TCLEbankIntegration/services/tclEbankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
